# Ignore everything in docs/
docs/*

# Allow subfolders inside docs/
!docs/**/

# Allow all reports inside subfolders
!docs/*/index.html
!docs/*/screenshots/
!docs/*/screenshots/**
!docs/*/*.json
!docs/*/*.xml
