# Ignore everything inside docs/
docs/*

# Allow subfolders inside docs/
!docs/**/

# Allow only specific report files (index.html, screenshots, JSON, XML)
!docs/*/index.html
!docs/*/screenshots/
!docs/*/screenshots/**
!docs/*/*.json
!docs/*/*.xml

